:root {
    --red-light: rgba(252, 182, 182, 1);
    --red-medium: rgba(248, 73, 73, 1);
    --black: rgba(28, 28, 28, 1);
    --gray: rgba(229, 229, 229, 1);
    --white: rgba(255, 255, 255, 1);
    --wheat: rgb(255, 254, 242, 1);
    --purple-light: rgba(194, 144, 233, 1);
    --purple-medium: rgba(132, 32, 211, 1);
    --green-light: rgba(133, 227, 142, 1);
    --green-medium: rgba(58, 199, 98, 1);
    --yellow-light: rgba(255, 243, 133, 1);
    --yellow-medium: rgba(250, 225, 90, 1);
    --orange-light: rgba(248, 161, 73, 1);
    --blue-medium: rgba(32, 171, 150, 1);
    --blue-darker: rgba(65, 69, 120, 1);
}