@font-face {
    font-family: "Agrandir";
    src: url("../assets/fonts/agrandir.woff2") format("woff2-variations");
    font-weight: 100 1000;
}

@font-face {
    font-family: "Nimbus Sans L";
    src: url("../assets/fonts/nimbus-sans-l-regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Nimbus Sans L";
    src: url("../assets/fonts/nimbus-sans-l-bold.woff2") format("woff2");
    font-weight: 700;
}

